@custom-media --viewport-small (width <= 600px);

.contact-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-form {
  width: max(600px, 25%);
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  padding: 3rem clamp(3rem, 0.7143rem + 11.4286vw, 5rem);
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  gap: 1.25rem;

  h1 {
    color: var(--amber);
    font-family: var(--general-font);
    font-weight: 600;
    font-size: 3rem;
  }

  p {
    color: white;
    font-family: var(--general-font);
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }

  input, textarea {
    appearance: none;
    background: transparent;
    border: 2px solid var(--amber);
    outline: none;
    font-size: 1.25rem;
    font-family: var(--general-font);
    width: 100%;
    border-radius: .875rem;
    padding: .625rem 1rem;
    color: white;
  }

  button {
    appearance: none;
    border: none;
    background: none;
    border: 2px solid var(--amber);
    font-family: var(--general-font);
    font-size: 1.5rem;
    padding: .475rem 2rem;
    color: white;
    border-radius: .875rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: var(--amber);
    }
  }

}