@import "./css-reset.css";
@import "./navbar.css";
@import "./pages/home.css";
@import "./pages/menu.css";
@import "./pages/contact.css";

:root {
  --logo-font: "Kanit", sans-serif;
  --cursive-font: "Just Me Again Down Here", sans-serif;
  --general-font: "Poppins", sans-serif;

  --amber: #fbbf24ff;
}

#app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  position: relative;
  background: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg, black, black);
    opacity: 0.15;
    z-index: -1;
  }
}
