@custom-media --viewport-small (width <= 750px);

.navbar {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  /* backdrop-filter: blur(20px); */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  .hambaga {
    appearance: none;
    border: none;
    font-size: 2rem;
    background: none;
    color: white;
    display: none;

    @media (--viewport-small) {
      display: block;
    }

    &.active {
      color: var(--amber);
    }
  }
}

.logo-container {
  display: flex;
  font-family: var(--logo-font);
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  .logo {
    width: 48px;
    height: 48px;
    color: var(--amber);
  }

  h1 {
    user-select: none;
    color: white;
    font-size: 2rem;
    font-weight: 600;
  }
}

.links-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  z-index: 2;

  @media (--viewport-small) {
    left: unset;
    position: absolute;
    width: min-content;
    flex-direction: column;
    right: -100%;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    transform: unset;
    transition: right 0.2s ease-in-out;

    &.active {
      right: 0;
    }
  }

  .navbar-link {
    position: relative;
    color: white;
    font-family: var(--general-font);
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    transform: translateY(0);
    user-select: none;
    text-decoration: none;
    cursor: pointer;

    .underline {
      position: absolute;
      width: 0;

      /* To make it center. */
      left: 50%;
      transform: translateX(-50%);

      bottom: -40%;
      height: 1px;
      background: var(--amber);
      transition: all 0.2s ease-in-out;
    }
  }

  .navbar-link.active {
    color: var(--amber);
    transform: translateY(-50%);

    @media (--viewport-small) {
      transform: none;
    }

    .underline {
      width: 95%;
    }
  }
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;

  @media (--viewport-small) {
    display: none;
  }

  iconify-icon {
    font-size: 2.25rem;
    color: white;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--amber);
      transform: translateY(-2px);
    }
  }
}
